#wrapper {
  width: 200px;
  padding: 5px;
  padding-top: 0;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  display: block;
}
#wrapper h3 {
  background-color: transparent
    color:  #333;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}
#wrapper #pluginContent {
  width: 100px;
  margin: 2px auto;
}
#wrapper footer {
  font-size: 11px;
  color: #A9A9A9;
  margin: 10px 0 0 0;
  background-color: transparent;
  line-height: 18px;
}
#wrapper footer #producttag {
  float: left;
}
#wrapper footer #feedback {
  float: right;
  margin-right: 5px;
  cursor: pointer;
  color: #08C;
  font-size: 11px;
  text-decoration: none;
}
#wrapper footer #feedback:hover {
  text-decoration: underline;
  color: #00689C;
}
#wrapper .clear {
  clear: both;
}
